[submodule "audio_engine"]
	path = audio_engine
	url = git@github.com:objective-audio/audio_engine.git
[submodule "ui"]
	path = ui
	url = git@github.com:objective-audio/ui.git
[submodule "processing"]
	path = processing
	url = git@github.com:objective-audio/processing.git
[submodule "cpp_utils"]
	path = cpp_utils
	url = git@github.com:objective-audio/cpp_utils.git
[submodule "objc_utils"]
	path = objc_utils
	url = git@github.com:objective-audio/objc_utils.git
[submodule "chaining"]
	path = chaining
	url = https://github.com/objective-audio/chaining.git
