[submodule "audio_engine"]
	path = audio_engine
	url = git@github.com:objective-audio/audio_engine.git
[submodule "ui"]
	path = ui
	url = git@github.com:objective-audio/ui.git
[submodule "processing"]
	path = processing
	url = git@github.com:objective-audio/processing.git
